- name: Check if UTM is already installed
  stat:
    path: "{{ utm_app_path }}"
  register: utm_app

- name: Download UTM DMG
  get_url:
    url: "{{ utm_dmg_url }}"
    dest: "{{ utm_dmg_path }}"
    mode: '0644'
  when: not utm_app.stat.exists

- name: Install UTM DMG
  shell: |
    hdiutil attach {{ utm_dmg_path }}
    cp -R {{ utm_mount_path }}/UTM.app /Applications/
    hdiutil detach {{ utm_mount_path }}
  when: not utm_app.stat.exists
